SHOPIFY_STORE_DOMAIN=arcane-flame.myshopify.com
SHOPIFY_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
SHOPIFY_CLIENT_SECRET=shpss_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
SHOPIFY_API_VERSION=2025-01
ADMIN_PASSWORD=change-me
PRINT_PRODUCT_ID=1234567890
RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NOTIFY_TO_EMAIL=orders@arcane-flame.com
RESEND_FROM_EMAIL=quotes@arcane-flame.com
